.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;
  color: black;
  margin-top: 104px;
}
.itens_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 15%;
  width: 120vh;
  height: 80vh;
  gap: 80px;
}

@media screen and (max-width: 1050px) {
  .itens_container {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    padding-top: 400px;
  }
}
