:root{
  --color-light-gray: #eeeeee;
  --color-gray: #e0e0e0;
  --color-dark-gray: #424242;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-blue: #0B156E;
  --color-light-brown: #BA4213;
  --color-dark-brown: #962E05;
  --color-light-blue: #0013BA;
  --color-light-green: #2C6E05;
  --color-dark-green: #26550A;
}